@page
@model Torneo.App.Frontend.Pages.Partidos.IndexModel
@{
}
<a class="btn btn-success btn-lg" asp-page="./Create">Crear Partido</a>
<h1>Listado de partidos</h1>
<table class="table table-striped table-hover">
<thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Fecha - Hora </th>
      <th scope="col">Equipo Local</th>
      <th scope="col">Equipo Visitante</th>
      <th scope="col">Marcador Local</th>
      <th scope="col">Marcador Visitante</th>
      <th scope="col">Acciones</th>

    </tr>
  </thead>
  <tbody>
    @foreach(var partido in Model.partidos)
    {
    <tr>
      <th scope="row">@partido.Id</th>
      <td>@partido.FechaHora</td>
      <td>@partido.Local.Nombre</td>  
      <td>@partido.Visitante.Nombre</td> 
      <td>@partido.MarcadorLocal</td>
      <td>@partido.MarcadorVisitante</td>

      <td>
      <a class="btn btn-outline-dark" asp-page="./Details" asp-route-id="@partido.Id">
      Detalle
      </a>
    </td>

    </tr>
    }
  </tbody>
</table>