@page
@model Torneo.App.Frontend.Pages.Jugadores.IndexModel
@{
}
<a class="btn btn-success btn-lg" asp-page="./Create">Crear Jugador</a>
<h1>Listado de jugadores</h1>
<table class="table table-striped table-hover">
<thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Numero</th>
      <th scope="col">Equipo</th>
      <th scope="col">Posicion</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var jugador in Model.jugadores)
    {
    <tr>
      <th scope="row">@jugador.Id</th>
      <td>@jugador.Nombre</td>
      <td>@jugador.Numero</td>
      <td>@jugador.Equipo.Nombre</td>  
      <td>@jugador.Posicion.Nombre</td> 

    <td>
      <a class="btn btn-outline-dark" asp-page="./Details" asp-route-id="@jugador.Id">
      Detalle
      </a>
    </td>
    </tr>
    }
  </tbody>
</table>